GOOGLE_API_KEY=AIzaSyDcM_AxlvzaCCSOU4FUrwiOD0fMK0Ru3Bs
GEMINI_API_KEY=AIzaSyDcM_AxlvzaCCSOU4FUrwiOD0fMK0Ru3Bs
SUPABASE_URL=https://ozmexdspaxairwdywqpy.supabase.co
SUPABASE_KEY=sb_publishable_LhX0O5rEKBPHrgewxr_djg_PpZ4aU_n
JWT_SECRET=5d8d62bc4011b54a7a72cc2920ad757cba9c96045a51bc2f0667fff41f60f2cc